# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# IDE specific files
.idea/
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# Dependency directories
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/
